p{
    color:red;
    background-color: aqua;
    background-position: 5%;
}
*{
    margin: 5;
    padding: 0;
    text-decoration: none;px
    outline: none;padding-inline-start: 5px;
    
}
div{
    padding:5px;
    border-radius: -10dvh;
}